// flex space-between mixin
@mixin flexSB($direction: row, $jc: space-between) {
    display: flex;
    align-items: center;
    flex-direction: $direction;
    justify-content: $jc;
}

@mixin productCard(){
    .product_card{
        height: 35em;
        border: 1px solid #1403030c;
        width: 18em;
        // border-radius: 5px;
        box-shadow: 0px 2px 5px #1403030c;
        position: relative;
        cursor: pointer;

        &:hover{
            .img{
                img{
                    scale: 1.3;
                }
            }
        }

        .bg-circle{
            position: absolute;
            // top: 15%;
            // left: 5%;
            // border: 1px solid black;
            width: 15em;
            height: 15em;
            background-color: white;
            border-radius: 50%;
        }

        .imgSpace{
            height: 25em;
            width: 18em;
            @include flexSB(row, center);
            // padding: 20px;
            // border-radius: 5px 5px 0px 0px;
            background-color: #e5e5e573;
            // border: 1px solid red;

            .img{
                @include flexSB(row, center);
                width: 10em;
                height: 10em;
                z-index: 20;


                img{
                    width: 100%;
                    height: 100%;
                    transition: all 0.3s ease;
                }
            }

        }

        .p_details{
            padding: 30px 10px;
            // border: 1px solid black;
            @include flexSB();

            .dets{
                width: 100%;
                .top{
                    @include flexSB();
                    width: 100%;
                    // border: 1px solid red;
                }

                .cat{
                    margin: 5px 0;
                    color: #1403031f;
                }

                h3{
                    margin: 12px 0;
                    text-transform: uppercase;
                }
            }

            .cartIcon{
                position: absolute;
                bottom: 2em;
                right: 20px;
                button{
                    width: 40px;
                    height: 40px;
                    @include flexSB(row, center);
                    border-radius: 50%;
                    border: none;
                    background-color: #000000;
                    box-shadow: $shadow;
                    cursor: pointer;
    
                    img{
                        width: 60%;
                    }
                }
            }
        }

        .wish{
            position: absolute;
            top: 10px;
            right: 10px;
            width: 40px;
            height: 40px;
            cursor: pointer;
            @include flexSB(row, center);
        }
    }
}

@mixin content {
    width: 90%;
    margin: auto;
}


@mixin grid($num: 3, $gap: 30px){
    display: grid;
    grid-template-columns: repeat($num, 1fr);
    column-gap: $gap;
    row-gap: 30px;
}


@mixin bCrumb($width:fit-content){
    @include flexSB();
    width: $width;
}

