// flex space-between mixin
@mixin flexSB($direction: row, $jc: space-between) {
    display: flex;
    align-items: center;
    flex-direction: $direction;
    justify-content: $jc;
}

@mixin content {
    width: 90%;
    margin: auto;
}


@mixin grid($num: 4, $gap: 30px){
    display: grid;
    grid-template-columns: repeat($num, 1fr);
    column-gap: $gap;
    row-gap: 30px;
}