<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../css/style.css">
    <title>Register</title>
</head>
<body>
    <main>
        <section class="login">
            <div class="left">
                <!-- text content -->
                <div class="text-content">
                    <h1>Myz_Pejay <span>Collections</span></h1>
                    <p><em>An outstanding collection of quality and affordable women's clothing.</em></p>

                    <!-- socials -->
                    <div class="sc">
                        <div class="icon">
                            <img src="../assets/icons/Instagram.svg" alt="">
                        </div>
                        <span><a href="">myzpejay_collections</a></span>
                    </div>
                </div>


                <!-- swiper carousel -->
                <div class="lg_swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                      <!-- Slides -->
                      <div class="swiper-slide">
                        <img src="../assets/backgrounds/pexels-godisable-jacob-794062.jpg" alt="">
                      </div>
                      <div class="swiper-slide">
                        <img src="../assets/backgrounds/katsiaryna-endruszkiewicz-BteCp6aq4GI-unsplash.jpg" alt="">
                      </div>
                      <div class="swiper-slide">
                        <img src="../assets/backgrounds/judeus-samson-0UECcInuCR4-unsplash(1).jpg" alt="">
                      </div>
                      
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="content">
                    <div class="heading reg">
                        <h1>Register</h1>
                    </div>

                    <h3>Create an account to enjoy the best myz_pejay has to offer</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio voluptatibus ut nihil distinctio omnis explicabo?</p>

                    <form action="">
                        <div class="flex">
                            <div class="form-control">
                                <label for="">First Name</label>
                                <input type="text">
                            </div>
                            <div class="form-control">
                                <label for="">Last Name</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="flex">
                            <div class="form-control">
                                <label for="">Phone Number</label>
                                <input type="text">
                            </div>
                            <div class="form-control">
                                <label for="">Email Address</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="flex">
                            <div class="form-control">
                                <label for="">Password</label>
                                <input type="password">
                            </div>
                            <div class="form-control">
                                <label for="">Confirm Password</label>
                                <input type="password">
                            </div>
                        </div>

                        <!-- <span class="forgot">Forgot password? <a href="">Click here</a></span> -->
                        
                        <div class="form-control">
                            <button>Create Account</button>
                        </div>
                        <span>Already have an account? <a href="login.html">Login</a></span>


                    </form>
                </div>
            </div>
        </section>
    </main>

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="../js/heroCarousel.js"></script>
</body>
</html>